<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCcTycK4Kp7AQBxIPp8ATD6UCrTYO8dSw</string>
	<key>GCM_SENDER_ID</key>
	<string>686586767967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationAssignmnettechnilify</string>
	<key>PROJECT_ID</key>
	<string>assignmnetapptechnilfiy</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmnetapptechnilfiy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686586767967:ios:ff9c8fe1fa6eb4f2f349ea</string>
	<key>DATABASE_URL</key>
	<string>https://assignmnetapptechnilfiy-default-rtdb.firebaseio.com</string>
</dict>
</plist>